.title{
    text-align: center;
    bottom: 60%;
    top: auto;
}

.desc{
    text-align: center;
}

.underline{
    text-decoration: underline;
    text-transform: uppercase;
}

.addData{
    border: 1px solid #000000;
    padding: 5 20px;
    float: center;
    display: block;
}